<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        cookieChoices.showCookieConsent{{ cookiespolicy_type|capitalize }}('{{ cookiespolicy_message }}','{{ cookiespolicy_btn_close }}','{{ cookiespolicy_btn_privacy }}','{{ cookiespolicy_url }}');
    });
</script>